.wc-coupon-generator-wrap {

	/** Panels */
	#wc-coupon-generator-form fieldset:not(:first-of-type) {
		display: none;
	}

	/** Progress bar */
	.wc-coupon-generator-progress-bar {
		width: calc( 100% - 50px );
		height: 30px;
		border: 1px solid #DDD;
		position: relative;
		display: inline-block;

		.wc-coupon-generator-progress-percentage {
			text-align: center;
			line-height: 30px;
			z-index: 10;
			position: relative;
			font-weight: bold;
			position: absolute;
			width: 100%;
		}
		.progress {
			width: 0%;
			height: 30px;
			display: inline-block;
			background-color: #E33A3D;
			position: absolute;
			z-index: 15;
			overflow: hidden;
			-webkit-transition: width 1s ease-in-out;
			-moz-transition: width 1s ease-in-out;
			-o-transition: width 1s ease-in-out;
			transition: width 1s ease-in-out;

			.inner-progress {
				position: absolute;
				color: #FFF;
				z-index: 15;
				text-align: center;
				display: block;
				height: 30px;
				line-height: 31px;
				-webkit-transition: none;
				-moz-transition: none;
				-o-transition: none;
				transition: none;
			}
		}
	}
	.spinner { 	float: right; margin: 5px 10px; }

	pre.wc-coupon-generator-progress-messages {
		background: #F5F5F5;
		padding: 12px;
		max-height: 300px;
		overflow: scroll;
	}


}
